@CHARSET "UTF-8";

.imagemCentralizada {
	
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 95% !important;
}

.ui-dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}